body{
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.d11{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.h1{
    text-align: center;
}

.d2{
    width: 1440px;
    margin: 100px auto;
}

.d1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.daynight{
    background-color: rgba(108, 99, 255, 1);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.send{
    width: 64px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgba(108, 99, 255, 1);
}

.inp{
    width: 595px;
    height: 38px;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgba(195, 193, 229, 1);
    font-size: 16px;
    font-weight: 500;
}

.img11{
    width: 30px;
    height: 30px;
}

.img{
    position: relative;
    left: -70px;
    top: 0;
    width: 21px;
    height: 21px;
}

.dark-mode{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.li-element{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}